* {
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #1f1f1f;
  color: #ffffff;
  transition: all 0.25s linear;
}
.light {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.25s linear;
}

body {
  font-family: "Staatliches", cursive;
}

.landingPageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44b2b;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.landingPageLogo {
  height: 700px;
  width: 700px;
}

.navbar {
  position: fixed; /* it was earlier fixed*/
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #e44b2b; */
  color: inherit;
  padding: 10px;
  display: flex;
  transition: all 0.25s linear;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 99;
}

/* .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
} */

.navbar li {
  margin: 0 10px;
}

.navbar-button-style {
  padding: 10px;
}

/* .navbar-button-style li a:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid #e44b2b !important;
} */

.navbar-button-style .active {
  padding-bottom: 10px;
  border-bottom: 5px solid #e44b2b;
  color: #e44b2b;
  transition: 0.25s linear;
}

/* .navbar-button-active {
  background-color: #e44b2b;
  color: #fff !important;
  transition: 1s;
} */

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar-heading {
  font-size: 50px;
  width: 50%;
  font-weight: 800;
}

.navbar-buttons {
  width: 30%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.icon-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-icon {
  display: none;
}

.icon-size {
  font-size: 32px;
}

.main-landing-page-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-landing-page-left-content {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
}

.main-landing-page-right-content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-landing-page-left-content-p-div {
  width: 70%;
  text-align: center;
}

.about-main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e44b2b;
  padding: 10px;
  flex-direction: column;
}

.about-main-container-heading {
  height: 20%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
}

.about-main-container-images {
  /* display: flex;
  margin: 0 20%; */
  width: 90%;
}

.item {
  max-height: 30rem; /* earlier it was min-height */
  min-width: 20rem;
  padding: 40px;
  height: 30rem; /* earlier it was 20rem */
  display: flex;
  flex-direction: column;
}

.item-img-tag {
  width: 100%;
  height: 80%;
  /* border-radius: 2rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.comments-card {
  background-color: #e4722b;
  height: 20%;
  color: inherit;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 15px;
  display: flex;
  border: 2px solid;
  border-color: inherit;
}

.card-image-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image-inner-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid;
  border-color: inherit;
}

.card-image-tag {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.contact-main-container {
  height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.contact-main-container-heading {
  height: 20%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
}

.contact-main-container-sub-heading {
  font-size: 50px;
}

input,
textarea {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  border: 2px solid;
  border-color: inherit;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

textarea {
  height: 10rem;
}

.form-submit-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0077cc;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-submit-button:hover {
  background-color: #005fa3;
}

.footer-container {
  background-color: #e4722b;
  color: inherit;
  padding: 1rem;
  text-align: center;
}

.footer-text-container {
  display: flex;
  justify-content: center;
}

.footer-text {
  font-size: 1.2rem;
}

.footer-heart {
  color: red;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

.travel_itinerary_icon {
  height: 32px;
}

.icon-container-inner {
  margin-right: 40px;
}

.icon-container-inner-icon-div {
  display: flex;
  margin: 10px;
  padding-top: 5px;
}

.icon-container-inner-icon-no-show-div {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.itinerary-main-container {
  height: auto;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* overflow: auto; */
}

.itinerary-inner-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.itinerary-cards-main-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itinerary-cards-container {
  max-height: 20rem;
  max-width: 30rem;
  padding: 20px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  background-color: #e4722b;
  border-radius: 25px;
  /* transition: all 0.25s linear; */
  width: 70%;
  transition: transform 0.2s ease-out;
}

.itinerary-cards-container:hover {
  transform: scale(1.05);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body.dark .itinerary-cards-container:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px;
}

/* body.light .itinerary-cards-container {
  background-color: #1f1f1f;
  transition: all 0.25s linear;
} */

.itinerary-cards-image-container {
  height: 50%;
  width: 100%;
}

.itinerary-cards-image-inner-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid;
  border-color: inherit;
}

.itinerary-cards-content-heading-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.add-to-itinerary-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-color: inherit;
  border-radius: 0.5rem;
  background-color: #0077cc;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.remove-from-itinerary-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-color: inherit;
  border-radius: 0.5rem;
  background-color: #ff2400;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.add-to-itinerary-button:hover {
  background-color: #005fa3;
}

.itinerary-cart-container {
  height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.itinerary-cart-container-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 72px;
  flex-direction: column;
}

.itinerary-cart-container-right-container {
  width: 50%;
}

.itinerary-cart-container-right-container-main-div {
  height: 80%;
  width: 90%;
  background-color: #e4722b;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

.itinerary-cart-container-right-container-main-div-heading-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  height: 15%;
}

.itinerary-cart-container-right-container-main-div-content-div {
  overflow-y: auto;
  height: 70%;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 36px;
}

.itinerary-cart-container-right-container-main-div-form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

/*======This is the starting of media query======*/

@media screen and (max-width: 426px) {
  .landingPageLogo {
    height: 400px;
    width: 400px;
  }
  .hamburger-icon {
    display: block;
    height: 20px;
    padding-top: 5px;
  }
  .navbar-buttons {
    display: none;
  }
  .navbar-buttons-show {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
    background-color: inherit;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .navbar-button-style {
    padding: 10px;
    /* border-bottom: 5px solid;
    border-color: inherit; */
  }
  /* .navbar-button-style:hover {
    border-bottom: 5px solid #e44b2b !important;
  } */
  /* .navbar-button-active {
    color: #e44b2b;
  } */
  /* .navbar a {
    color: #fff;
  } */

  .navbar-button-style .active {
    padding-bottom: 10px;
    border-bottom: 5px solid #e44b2b;
    color: #e44b2b;
    transition: 0.25s linear;
  }

  .icon-container {
    justify-content: flex-end;
    margin-right: 15px;
  }
  .icon-size {
    font-size: 20px;
  }
  .main-landing-page-container {
    flex-direction: column;
    padding-top: 40%;
    height: 75vh;
  }
  .main-landing-page-left-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  .main-landing-page-right-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .about-main-container-heading {
    font-size: 32px;
  }
  .contact-main-container-heading {
    font-size: 32px;
    padding: 0;
  }
  .contact-main-container-sub-heading {
    font-size: 25px;
  }
  .form-submit-button {
    font-size: 0.8rem;
  }
  .travel_itinerary_icon {
    height: 20px;
  }
  .icon-container-inner {
    margin-right: 10px;
  }
  .icon-container-inner-icon-no-show-div {
    display: flex;
    margin: 10px;
    padding-top: 5px;
  }
  .itinerary-main-container {
    margin-top: 100px;
  }
  .itinerary-inner-container {
    grid-template-columns: 1fr;
  }
  .remove-from-itinerary-button {
    font-size: 0.8rem;
  }
  .add-to-itinerary-button {
    font-size: 0.8rem;
  }
  .itinerary-cart-container {
    height: 80vh;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .itinerary-cart-container-left-container {
    width: 100%;
    font-size: 32px;
  }
  .itinerary-cart-container-right-container {
    width: 100%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 70%;
  }
  .itinerary-cart-container-right-container-main-div-heading-div {
    font-size: 32px;
    padding: 20px;
  }
  .itinerary-cart-container-right-container-main-div-content-div {
    font-size: 20px;
  }
  .itinerary-cart-container-right-container-main-div {
    height: 100%;
  }
}
